.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap:40px;
    border: none;
}
.category-title{
    margin-left: 20px;
    display: flex;
    font-size: 40px;
}