body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
  
}
a:hover{
transform: scale(1.05);
transition: 0.5s;
}

*{
  box-sizing: border-box;
  border-radius: 7px;
  //to ensure the max dimension including border is what we set
}