    @font-face {
    font-family: 'New Walt Disney UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('New Walt Disney UI Regular'), url('New Walt Disney UI.woff') format('woff');
    }
    

    @font-face {
    font-family: 'New Walt Disney Font Regular';
    font-style: normal;
    font-weight: normal;
    src: local('New Walt Disney Font Regular'), url('New Walt Disney.woff') format('woff');
    }

    .fontFace{
      font-family: 'New Walt Disney UI Regular';
      display: flex;
      justify-content: center;
      color: rgb(208, 177, 0);
      font-size: 50px;
    }

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(111, 111, 111);
  
}
a:hover{
transform: scale(1.05);
transition: 0.5s;
}

*{
  box-sizing: border-box;
  border-radius: 7px;
  //to ensure the max dimension including border is what we set
}